# Ignores everything...
/*

# ...but not the following:
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!jar-dependencies/.gitkeep
!/textures/
!/gradle.properties
!.gitattributes
!FORGE_LICENSE.txt
